@tailwind base;
@tailwind components;
@tailwind utilities;

/** 
    login 背景
*/
.login-container {
  position: relative;

  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    z-index: -10;
  }
  &::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image:
      url("./assets/images/bg-b.png"), url("./assets/images/bg-y.png");
    background-position:
      50% calc(50% + 150px),
      50% calc(100% + 150px);
    background-repeat: no-repeat;
    background-size: auto, auto;
    z-index: -9;
    pointer-events: none;
    opacity: 0;
    transition:
      opacity 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94),
      background-position 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
}
.login-container.animate-bg-position::after {
  background-position:
    -100px calc(50% + 150px),
    -500px calc(100% + 150px);
}

.login-container.animate-bg::after {
  opacity: 1;
}

/**
    home 背景
*/
.home-container {
  position: relative;

  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: -35%;
    width: 100vw;
    height: 100vh;
    background-image: url("./assets/images/bg-b.png");
    background-color: #ececec;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 70%;
    z-index: -10;
    /* animation: home-bg-animation-left 2s linear; */
  }
  &::after {
    content: "";
    position: fixed;
    top: 0;
    right: -60%;
    width: 100vw;
    height: 100vh;
    background: url("./assets/images/bg-y.png");
    background-color: #ececec;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 70%;
    z-index: -9;
    pointer-events: none;
    /* animation: home-bg-animation-right 2s linear; */
  }
}
/* @keyframes home-bg-animation-right {
  0% {
    right: -10%;
  }
  100% {
    right: -60%;
  }
}

@keyframes home-bg-animation-left {
  0% {
    left: 10%;
  }
  100% {
    left: -35%;
  }
} */

/* Common Button hover shadow (no color change) */
.ant-btn.seko-common-btn {
  transition: box-shadow 0.2s ease;
  padding: 0 !important;
}
.ant-btn.seko-common-btn:hover {
  box-shadow: 0 6px 20px #0000001f;
}

.ant-popover-inner {
  padding: 0 !important;
  border-radius: 16px !important;
}
